<div class="container mt-5 p-3 border bg-success bg-opacity-10" style="margin: auto; max-width: 700px">
    <h1 class="text-center">Bienvenido</h1>
    <div class="container d-flex justify-content-around mt-3 mb-3">
        <a href="/login" class="btn btn-primary rounded">Iniciar Sesión</a>
        <a href="/register" class="btn btn-info rounded">Registrarse</a>
    </div>
</div>